html,
body
  margin: 0
  padding: 0

body
  font: 14px 'Source Sans Pro', sans-serif
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1em
  background-color: $bg
  color: $color_text
  width: 100vw

.control
  height: 100px
  background-color: #aaaaaa

.timer
  width: 50px
  height: 60px
  float: left
  font-size: 25px
  color #cc0000

.players-count
  width: 50px
  height: 60px
  float: left
  font-size: 25px
  color #cc00cc

.button
  width: 50px
  height: 60px
  background-color: #2db7f5
  float: left






